.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: rgb(79, 118, 175);
  cursor: pointer;
  border: 1px solid rgb(79, 118, 175);
  width: 68.33px;
  height: 32px;
  text-align: center;
  border-radius: 0.25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.filebox label:hover {
  background-color: rgb(79, 118, 175);
}

.filebox label:active {
  background-color: #1a73bd;
}

.filebox input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button-fix {
  position: relative;
  top: 1.3px;
  background: rgb(79, 118, 175);
  border: 1px solid rgb(79, 118, 175);
}
